Bhagirath Tallapragada
Student ID: 002575358
email: btallapragada1@student.gsu.edu

1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10

In [63]:
def fact(x):
  if(x==0 or x==1):
    return 1
  else:
    return x*fact(x-1)

In [64]:
print(fact(10))

3628800

2. Write a function that determines if a number is a prime number. Test the function with
the following numbers: 3 and 1251.

In [65]:
def isprime(x):
  if(x<=1):
    return False
  i=2
  while(i<x):
    if(x%i==0):
      return False
    i+=1
  return True

In [66]:
print(isprime(3))

True

In [67]:
print(isprime(1251))

False

3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix

In [68]:
def transp(x):
  y=[[x[j][i] for j in range(len(x))] for i in range(len(x[0]))]
  return y

In [69]:
a=[[1,0,0],[0,1,0],[0,0,1]]
b=transp(a)
for i in b:
  print(i)

[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test
your code with:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [70]:
import numpy as np
import pandas as pd

np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

print(series1)
print(series2)

mergedseries=series1.append(series2)
print('printing combined series')
print(mergedseries)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
printing combined series
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

5. Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [71]:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

def supper(series):
  updated=[]
  for i,v in series.iteritems():
    #print(v)
    ele=str(v[0]).upper()
    ele=ele+v[1:len(x)+1]
    #print(x[1:len(x)])
    #print(ele)
    updated+=[ele]
  return pd.Series(updated)

In [72]:
x=supper(series)
print(x)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus: Using pandas, write a piece of code to get the frequency of unique values in the
entire dataframe (not using built in functions). Test your code with:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [73]:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(dataFrame)

   a  b  c  d
0  9  5  8  8
1  8  6  8  7
2  9  5  5  9
3  7  6  5  6
4  6  5  6  9

In [74]:
def df_unique(df):
  keyval={}
  dlist=list(df.values.flatten())
  for i in dlist:
    if i in keyval.keys():
      keyval[i]+=1
    else:
      keyval[i]=1

  return len(list(keyval.keys()))
# the function also stores the number of occurences of each key in the corresponding value

In [75]:
unique=df_unique(dataFrame)
print(unique)

5